

<!DOCTYPE html>
<html>

    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

    </head>

    <body style="direction: rtl">
        <div class="container">
            <div class="well"><a href="{{path('app_doctor_pro')}}">ثبت برنامه هفتگی</a></div>
            <div class="well"><a href="">ویرایش برنامه هفتگی</a></div>
        </div>
    </body>

</html>
